<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt - 5">
    <h1>Site blog</h1>
    <div th:each="element : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"/>
        <p th:text="${element.text}"/>
        <p th:text="${element.views}"/>
        <a th:href="'/blog/' + ${element.id} + '/edit/'" class="btn btn-warning">Edit</a>
        <a th:href="'/blog/' + ${element.id} + '/delete/'" class="btn btn-warning">Delete</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>